:host {
  border: 2px solid transparent;
  border-radius: 8px;
}

:host(.list-item--one) {
  color: #4f46e5;
}

:host(.list-item--two) {
  color: #059669;
}

.actions button {
  //border: none;
}

.material-icons {
  font-size: 20px;
}
