:host {
  .avatar {
    cursor: default;
  }
}
::ng-deep {
  mat-toolbar.brutal-nav {
    height: 56px !important;
    padding: 0 1.5rem !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    background: #111;
    color: #fff;

    .nav-logo {
      margin-right: auto;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #fff;
    }

    .nav-links {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      a {
        text-decoration: none;
        color: #fff;
        font-size: 13px !important;
        letter-spacing: 0.08em;
        text-transform: uppercase;

        &:hover {
          border-bottom: 3px solid var(--mat-sys-primary) !important;
          font-weight: 500 !important;
        }

        &.active {
          font-weight: 500 !important;
          border-bottom: 3px solid var(--mat-sys-primary) !important;
        }
      }
    }

    .nav-actions {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 10px;

      .logout-btn {
        background-color: #fff !important;
      }
    }
  }
}
