<mat-toolbar class="brutal-nav">
  <span class="nav-logo">Task Manager</span>

  <div class="nav-links">
    <a routerLink="/app/dashboard" routerLinkActive="active">Dashboard</a>
    <span>|</span>
    <a routerLink="/app/boards-list" routerLinkActive="active">Mis tableros</a>
  </div>

  <div class="nav-actions">
    <button class="logout-btn" mat-stroked-button (click)="logout()">
      Cerrar sesión
    </button>
    @if(viewModel$ | async; as vm) {
    <button
      mat-stroked-button
      color="primary"
      class="avatar"
      [matTooltip]="getUserName(vm.user)"
      [matTooltipPosition]="'above'"
    >
      {{vm.userInitials}}
    </button>
    }
  </div>
</mat-toolbar>
