:host {
  app-panel {
    width: 5rem;
    margin-bottom: 1rem;
    padding: 1rem;

    .stat-card {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &__label {
        font-size: 14px;
        font-weight: 500;
        color: #555;
      }

      &__value {
        background: var(--mat-sys-primary);
        color: #fdfbf5;
        font-size: 32px;
        font-weight: 700;
        line-height: 1;
        padding: 6px 10px;
        display: inline-block;
        border-radius: 2px;
        align-self: flex-end;
      }
    }
  }
}
