section {
  border-bottom: 2px solid #111;
  background: #eddddd;
  padding: 0.5rem;
}

.top-actions-group {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  max-width: calc(4 * 250px + 3 * 1rem);
  margin: 1rem auto;
}

.top-actions-group form {
  margin: 0;
}

.top-actions-group mat-form-field {
  display: block;
  border: 2px solid #888;
}

::ng-deep .top-actions-group button {
  background: #fdfbf5;
}

::ng-deep .top-actions-group .mat-mdc-outlined-button .mdc-button__ripple {
  background: #fdfbf5;
}

::ng-deep .top-actions-group .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

::ng-deep {
  form {
    .mat-mdc-form-field {
      width: 15rem;
    }
  }
}
