<div class="board-header">
  <h2>{{boardTitle}}</h2>
  @if(isEditMode) {
  <button type="button" (click)="onEditTitleClicked()">
    <span class="material-icons">edit</span>
  </button>
  }
  <button type="button" class="favorite-button" (click)="toggleFavorite()">
    <span class="material-symbols-outlined">
      {{ isAFavoriteBoard ? 'heart_check' : 'heart_plus' }}
    </span>
  </button>
</div>
<form [formGroup]="boardForm">
  @if(mode() === FormMode.EDIT && !!isEditTitleOn() || mode() ===
  FormMode.CREATE) {
  <section>
    <mat-form-field>
      <mat-label>Editar nombre del tablero</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
  </section>
  }
  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <textarea
      matInput
      formControlName="description"
      placeholder="Agrega un contexto para tus futuras tareas"
    ></textarea>
  </mat-form-field>
  <div
    cdkDropList
    #listOne="cdkDropList"
    [cdkDropListConnectedTo]="[listTwo, listThree]"
  ></div>
  <div
    cdkDropList
    #listTwo="cdkDropList"
    [cdkDropListConnectedTo]="[listOne, listThree]"
  ></div>
  <div
    cdkDropList
    #listThree="cdkDropList"
    [cdkDropListConnectedTo]="[listOne, listTwo]"
  ></div>

  @if(mode() !== FormMode.CREATE) {
  <section class="panel-group">
    <app-panel>
      <div appPanelBody>
        <div class="example-container">
          <h2>To do</h2>
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todoTasks()"
            [cdkDropListConnectedTo]="[doneList, inProgressList]"
            class="example-list"
            (cdkDropListDropped)="dropTask($event)"
          >
            @for (item of todoTasks(); track item) {
            <div class="example-box" cdkDrag>{{ item }}</div>
            }
          </div>
        </div>
      </div>
    </app-panel>
    <app-panel>
      <div appPanelBody>
        <div class="example-container">
          <h2>In Progress</h2>
          <div
            cdkDropList
            #inProgressList="cdkDropList"
            [cdkDropListData]="inProgressTasks()"
            [cdkDropListConnectedTo]="[doneList, todoList]"
            class="example-list"
            (cdkDropListDropped)="dropTask($event)"
          >
            @for (item of inProgressTasks(); track item) {
            <div class="example-box" cdkDrag>{{ item }}</div>
            }
          </div>
        </div>
      </div>
    </app-panel>
    <app-panel>
      <div appPanelBody>
        <div class="example-container">
          <h2>Done</h2>
          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="doneTasks()"
            [cdkDropListConnectedTo]="[todoList, inProgressList]"
            class="example-list"
            (cdkDropListDropped)="dropTask($event)"
          >
            @for (item of doneTasks(); track item) {
            <div class="example-box" cdkDrag>{{ item }}</div>
            }
          </div>
        </div>
      </div>
    </app-panel>
  </section>
  } @if(isEditMode) {
  <button type="button" (click)="onAddTaskClicked()">Añadir tarea</button>
  <button
    (click)="onSaveTaskListsChanges()"
    [disabled]="!areChangesInTaskLists()"
  >
    Guardar cambios en tareas
  </button>
  }
  <!--   @else {
  <button type="button" (click)="onAddColumnClicked()">Añadir columna</button>
  } -->
  <section>
    @if(isEditMode) {
    <button type="button" (click)="onSaveChangesClicked()">
      Guardar cambios en el tablero
    </button>
    <button type="button" (click)="onGoBackClicked()">Volver</button>
    } @else {
    <button
      type="button"
      (click)="onSaveNewBoardClicked()"
      [disabled]="boardForm.invalid"
    >
      Guardar tablero
    </button>
    <button type="button" (click)="onCancelClicked()">Cancelar</button>
    }
  </section>
</form>
