:host {
  .board-form {
    color: var(--text-primary);
    padding: 1rem 1.25rem;
    padding-bottom: calc(1rem + 44px);
    display: flex;
    flex-direction: column;
    position: relative;

    mat-form-field {
      margin-bottom: 1rem;
    }
  }

  .board-form__header {
    display: flex;
    align-items: center;
  }

  .board-form__footer {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    gap: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 1.25rem;
  }

  .board-form__actions {
    display: flex;
    margin: 2rem 0;
    gap: 1rem;
  }

  .board-form__row {
    display: flex;
    gap: 1rem;
  }

  .panel-group {
    display: flex;
    gap: 10px;
  }

  .favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #272725;
    font-size: 24px;
  }

  .status-container {
    width: 400px;
    border: 2px solid var(--mat-sys-primary);
    border-radius: 4px;
    box-shadow: 4px 4px 0 var(--mat-sys-primary);
    padding: 1rem 1.25rem;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.05em;
    color: var(--text-secondary);
  }

  .status-list {
    min-height: 60px;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    font-family: sans-serif;
  }

  .status-item {
    padding: 20px 10px;
    border: solid 1px #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
    font-family: sans-serif;
  }
}
