:host {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;

  .empy-state {
    color: var(--mat-sys-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
