<div class="board-grid">
  @for (board of boardsToShow(); track $index) {
  <div class="board-card">
    <div class="board-card__header">
      <span class="board-card__label">{{ board.title }}</span>
      @if (board.isFavorite) {
      <span class="material-icons">favorite</span>
      }
    </div>
    <div class="board-card__content">
      @if(board.description){
      <p>Descripción:</p>
      <p>{{ board.description }}</p>
      }
      <p>Creado: {{formatDate(board.createdAt)}}</p>
    </div>
    <div class="board-card__footer">
      <button mat-stroked-button (click)="onGoToBoardDetails(board.id)">
        Ver Tablero
      </button>
      <button mat-mini-fab (click)="onRemoveBoard(board.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  }
</div>
