<section class="panel-group">
  @for (board of boardsToShow(); track $index) {
  <app-panel>
    <div appPanelBody>
      <div class="board-header">
        <h4>{{ board.title }}</h4>

        @if (board.isFavorite) {
        <span class="material-icons">favorite</span>
        }
      </div>
      @if(board.description){
      <p>{{ board.description }}</p>
      }
      <p>Creado: {{formatDate(board.createdAt)}}</p>
    </div>
    <div appPanelFooter>
      <button (click)="onGoToBoardDetails(board.id)">Ver Tablero</button>
      <button (click)="onRemoveBoard(board.id)">Eliminar</button>
    </div>
  </app-panel>
  }
</section>
