:host {
  .panel-group {
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 3fr 3fr;
      margin: 0 auto;
    }

    @media (min-width: 1024px) {
      max-width: calc(4 * 250px + 3 * 1rem);
    }
  }

  .panel-group-right {
    display: flex;
    flex-direction: column;
    height: 100%;

    app-dashboard-current-boards {
      min-height: 0;
      margin-bottom: 1rem;
    }

    app-dashboard-quick-actions {
      flex-shrink: 0;
    }
  }
}
