<app-panel>
  <div appPanelBody>
    @for (section of visibleSections; track $index) {
    <h4
      class="section-title"
      [matBadge]="getBadge(section)"
      matBadgeOverlap="false"
    >
      {{ section.title }}
    </h4>

    <app-list
      [listItems]="section.tasks()"
      [emptyStateMssg]="'No hay tareas aún'"
      class="section-list"
    >
      @for (task of section.tasks(); track $index) {
      <app-task-list-item
        [task]="task"
        (seeTask)="onSeeTask($event)"
        (removeTask)="onRemoveTask($event)"
        (markAsCompleted)="onMarkTaskAsCompleted($event)"
        (editTask)="onEditTask($event)"
        (postponeTask)="onPostponeTask($event)"
      />
      }
    </app-list>
    }
  </div>
</app-panel>
