<div class="register-container">
  <form [formGroup]="registerForm">
    <section>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="name" />
        @if (registerForm.get('name')?.hasError('required') &&
        registerForm.get('name')?.touched) {
        <mat-error>El nombre es requerido</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput type="text" formControlName="lastName" />
        @if (registerForm.get('lastName')?.hasError('required') &&
        registerForm.get('lastName')?.touched) {
        <mat-error>El apellido es requerido</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" formControlName="email" />
        @if (registerForm.get('email')?.hasError('email') &&
        registerForm.get('email')?.touched) {
        <mat-error>Formato de correo inválido</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
        @if (registerForm.get('password')?.hasError('minlength') &&
        registerForm.get('password')?.touched) {
        <mat-error>La contraseña debe tener al menos 6 caracteres</mat-error>
        }
      </mat-form-field>
    </section>
  </form>
  <div class="register-footer">
    <button
      mat-stroked-button
      (click)="onRegister()"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
  </div>
</div>
