:host {
  .login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    align-items: stretch;
  }

  .login-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
